<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimousTa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <%= link_to articles_path do %>
        <h6>Wikinimous</h6>
      <% end %>
      <p>New Article</p>
    </nav>

    <%= yield %>
  </body>
</html>
